@font-face {
    font-family: 'SVN-Poppins';
    src: url('../font/SVN-PoppinsMedium.eot');
    src: url('../font/SVN-PoppinsMedium.eot') format('embedded-opentype'),
    url('../font/SVN-PoppinsMedium.woff2') format('woff2'),
    url('../font/SVN-PoppinsMedium.woff') format('woff'),
    url('../font/SVN-PoppinsMedium.ttf') format('truetype'),
    url('../font/SVN-PoppinsMedium.svg') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Poppins';
    src: url('../font/SVN-Poppins.eot');
    src: url('../font/SVN-Poppins.eot') format('embedded-opentype'),
    url('../font/SVN-Poppins.woff2') format('woff2'),
    url('../font/SVN-Poppins.woff') format('woff'),
    url('../font/SVN-Poppins.ttf') format('truetype'),
    url('../font/SVN-Poppins.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Poppins';
    src: url('../font/SVN-PoppinsBold.eot');
    src: url('../font/SVN-PoppinsBold.eot') format('embedded-opentype'),
    url('../font/SVN-PoppinsBold.woff2') format('woff2'),
    url('../font/SVN-PoppinsBold.woff') format('woff'),
    url('../font/SVN-PoppinsBold.ttf') format('truetype'),
    url('../font/SVN-PoppinsBold.svg') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Poppins';
    src: url('../font/SVN-PoppinsSemiBold.eot');
    src: url('../font/SVN-PoppinsSemiBold.eot') format('embedded-opentype'),
    url('../font/SVN-PoppinsSemiBold.woff2') format('woff2'),
    url('../font/SVN-PoppinsSemiBold.woff') format('woff'),
    url('../font/SVN-PoppinsSemiBold.ttf') format('truetype'),
    url('../font/SVN-PoppinsSemiBold.svg') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

