.img-gg{
    cursor: pointer;
    color: red;
    border: 1px solid #edf2f9;
    border-image: initial;
    height: 40px;
}
.modal-login{
    margin-top: 71px;
    z-index: 9999;
}
.modal-register{
    z-index: 9999;
}
.modal-reset-pass{
    margin-top: 71px;
    z-index: 9999;
}
.modal-register-gg{
    margin-top: 71px;
    z-index: 9999;
}
/*
     FILE ARCHIVED ON 20:35:39 Feb 27, 2025 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 23:12:34 Oct 17, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.859
  exclusion.robots: 0.03
  exclusion.robots.policy: 0.014
  esindex: 0.014
  cdx.remote: 35.129
  LoadShardBlock: 354.595 (3)
  PetaboxLoader3.datanode: 357.375 (4)
  PetaboxLoader3.resolve: 95.525 (2)
  load_resource: 147.884
*/